p {
    hyphens: auto;
}

body {
    padding: 0px !important;
}

header {

    width: 100wv;
    max-width: 100%;

    nav {

        background-color: gainsboro;
        
        h1 {
        margin-left: 25px;
        margin-top: 10px;

            a:hover {
            color: black;
            opacity: 1;
            }
        }

        a {
        color: black;
        text-decoration: none;
        }

        a:hover {
            color: black;
            opacity: 0.75;
        }

        div {
            margin-right: 20px;
        }

    }
    
}

#page_connexion {
    height: 80vh;

    #connexion {
        background-color: darkgrey;
        border-radius: 1em;
        width: 400px;
        height: 250px;
    }

    input {
        width: 250px;
    }
}

#article_index {

    width: 100vw;
    max-width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1%;

    #description_art {
        background-color: black;
        opacity: 0.90;
        color: white;
        width: 25%;
        max-width: 25%;

        h2 {
            margin-top: 15%;
        }

        div {
            margin-bottom: 5%;
        }
    }

    #resume_art {
        background-color: black;
        color: white;
        opacity: 0;
        max-width: 35%;
    }
}

#article {
    
    p {
        font-size: 18px;
    }

    h1 {
        font-size: 40px;
        margin: 2%;
    }

    #content_article {
        margin: 5%;
    }

    #date_article {
        margin-bottom: 3%;
    }

}

#commentaire {

    #user_comment {
        margin-top: 1%;
        background-color: rgb(207, 207, 207);
        border-radius: 1em;

        #body_comment {
            width: 80%;
        }

        #author_comment {
            margin: 1% 0 1% 1%;
        }
    }

    #form_comment {
        margin: 5% 0;
        background-color: rgb(207, 207, 207);
        border-radius: 1em;
        width: 800px;
        max-width: 80%;

        input {
            width: 250px;
            max-width: 80%;
            margin-left: 3%;
        }

        textarea {
            width: 300px;
            max-width: 90%;
            margin-left: 3%;
        }

        button {
            margin: 3%;
        }

        label {
            margin-left: 3%;
            margin-top: 1%;
        }
    }
}

.admin {
    width: 200px;
    margin: 1% 0;
}

#addCategory {
    input {
        width: 200px;
    }
}

@keyframes slade { from { width:0%; } to { width:35%; }; from { opacity:0; } to {opacity: 0.9; }  }

.animation {
    animation: slade 1s forwards;
}