{% extends "index-skeleton.html.twig" %}

{% block title %}
    Admin Page
{% endblock title %}

{% block content %}

<h1 class="mx-auto">Admin Page</h1>

<a class="admin btn btn-primary mx-auto" href="{{ path("homepage") }}">homepage</a>

<a class="admin btn btn-primary mx-auto" href="{{ path("create_article") }}">create article</a>

<a class="admin btn btn-primary mx-auto" href="{{ path("add_category") }}">create category</a>

<a class="admin btn btn-primary mx-auto" href="{{ path("select_category") }}">edit category</a>

<a class="admin btn btn-primary mx-auto" href="{{ path("select_remove_category") }}">remove category</a>
    
{% endblock content %}