{% extends "index-skeleton.html.twig" %}

{% block title %}
    New Category
{% endblock title %}
    
{% block content %}
<div id="addCategory" class="container">
    <h1>Create new Category</h1>
    
    {{ form_start(formCategory) }}

    {{ form_row(formCategory.title, {"attr": {"placeholder": "name of category"}}) }}

    <button type="submit" class="btn btn-success">
        Ajouter la category
    </button>

    {{ form_end(formCategory) }}
</div>
{% endblock content %}
