{% extends "index-skeleton.html.twig" %}

{% block title %}
    Connexion
{% endblock title %}

{% block content %}
<section id="page_connexion" class="d-flex">
    <form id="connexion" class="d-flex m-auto" action="{{ path("admin_login") }}" method="post">
        <div class="flex-column m-auto">
        <div class="form-group d-flex justify-content-center">
            <input placeholder="surname" type="text" class="form-control" name="_username" required>
        </div>
        <div class="form-group d-flex justify-content-center">
            <input placeholder="password" type="password" class="form-control" name="_password" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Connexion</button>
        </div>
        {% if error %}
        <div><p>identifiant ou mdp incorrect</p></div>
        {% endif %}
    </div>
    </form>   
</section>
{% endblock content %}