{% extends "index-skeleton.html.twig" %}

{% block title %}
    Edit Title
{% endblock title %}

{% block content %}
<div class="container">
    {{ form_start(commentEditForm)}}

        {{ form_row(commentEditForm.author, {"attr": {"placeholder": "name"}}) }}
        {{ form_row(commentEditForm.content, {"attr": {"placeholder": "commentaire"}}) }}

        <button type="submit" class="btn btn-success">edit comment</button>

    {{ form_end(commentEditForm)}}
</div>    
{% endblock content %}