<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{asset('build/css/app.css')}}">
    <title>Blog-{% block title %}{% endblock title %}</title>
</head>
<body class="container-fluid">

    {% block header %}
    <header class="">
        <nav class="navbar-nav d-flex align-items-center navbar navbar-expand-lg navbar-dark bg-primary">
            <h1><a href="{{ path("homepage") }}" class="nav-link">Mon Blog</a></h1>

            {% if not app.user %} 
            <li class="nav-item">
                <a href="{{ path("admin_login") }}" class="nav-link">login</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{{ path("admin_logout") }}" class="nav-link">logout</a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a href="{{ path("admin_page") }}" class="nav-link">Admin</a>
            </li>
            {% endif %}
            <div class="d-flex align-items-center ml-auto">          
        </nav>
    </header>
    {% endblock header %}

    <div class="d-flex flex-column">
    {% block content %}

    {% endblock content %}
    </div>
    </div>

    {% block presentation %}
    {# <article id="presentation" class="">
        <div>
        <img src="build/images/fond.png" id="img_presentation" class="img-responsive mx-auto d-block">
        <p class="mx-auto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ipsa alias libero natus dignissimos velit quae eveniet incidunt, aliquid fuga repudiandae commodi vero laudantium similique aspernatur pariatur sequi quaerat magnam.Nam iusto, voluptas, natus omnis voluptatem nisi, officia doloremque porro soluta delectus placeat voluptates id. Deserunt, quos velit voluptatum delectus labore animi quasi itaque! Vel dicta suscipit facere perspiciatis at.
        </p>
        </div>
    </article>    #}
    {% endblock presentation %}

    {% block footer %}
        
    {% endblock footer %} 

    <script src="{{asset("build/js/app.js")}}"></script>
</body>
</html>