{% extends "index-skeleton.html.twig" %}



{% block title %}
Home
{% endblock title %}

{% block header %}
<header class="">
    <nav class="navbar-nav d-flex align-items-center navbar navbar-expand-lg navbar-dark bg-primary">
        <h1><a href="{{ path("homepage") }}" class="nav-link">Mon Blog</a></h1>

        {% if not app.user %} 
        <li class="nav-item">
            <a href="{{ path("admin_login") }}" class="nav-link">login</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a href="{{ path("admin_logout") }}" class="nav-link">logout</a>
        </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
            <a href="{{ path("admin_page") }}" class="nav-link">Admin</a>
        </li>
        {% endif %}
        <div class="d-flex align-items-center ml-auto">
        <form method="post">
        <select name="category">
            {% for category in categories %}
            <option value="{{category.id}}">{{category.title}}</option>
            {% endfor %}
        </select>
        <button class="btn">Search</button>
        </form>           
    </nav>
</header>
{% endblock header %}

{% block content %}
    {% for article in articles %}
        <article id="article_index" class="d-flex" style="background-image: url('{{imageURI}}/{{article.image}}');">
            <div id="description_art" class="d-flex flex-column">
                <h2 class="m-auto">{{article.title}}</h2>
                <div class="mx-auto mt-auto">Ecrit le {{article.createdAt | date('d/m/Y')}} a {{article.createdAt | date('H:i')}}, categorie: {{ article.category.title}}
            </div>
            </div>
            <div id="resume_art" class="d-flex flex-column">
                <div class="m-auto">{{article.resume | raw}}</div>          
                <a class="ml-auto btn" href="{{ path("show_article", {"id": article.id}) }}" class="btn">lire la suite...</a>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
