{% extends "index-skeleton.html.twig" %} 

{% block title %}
    new article
{% endblock title %}
    
{% block content %}
<section class="container">
    <h1>Create new Article</h1>
    
    {{ form_start(formArticle) }}

    {{ form_row(formArticle.title, {"attr": {"placeholder": "title of the article"}}) }}
    {{ form_row(formArticle.resume, {"attr": {"placeholder": "resume of the article"}}) }}
    {{ form_row(formArticle.content, {"attr": {"placeholder": "content of the article"}}) }}
    {{ form_row(formArticle.image, {"attr": {"placeholder": "URL of the image"}}) }}
    {{ form_row(formArticle.category) }}

    <button type="submit" class="btn btn-success">
        {% if editMode %}
        editer l'article
        {% else %}
        Ajouter l'article
        {% endif %}
    </button>

    {{ form_end(formArticle) }}
</section>
{% endblock content %}
