<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>new article</title>
</head>
<body class="container">   
    
    <h1>Inscription Admin</h1>
    
    {{ form_start(formRegistration) }}

    {{ form_row(formRegistration.email, {"attr": {"placeholder": "email"}}) }}
    {{ form_row(formRegistration.username, {"attr": {"placeholder": "name"}}) }}
    {{ form_row(formRegistration.password, {"attr": {"placeholder": "password"}}) }}
    {{ form_row(formRegistration.confirm_password, {"attr": {"placeholder": "confirm_password"}}) }}

    <button type="submit" class="btn btn-success">
        Registration
    </button>

    {{ form_end(formRegistration) }}

</body>
</html>