{% extends "index-skeleton.html.twig" %} 

{% block title %}
    Remove category
{% endblock title %}
    
{% block content %}
<div class="container">
    <h1>Select Category</h1>

    <form method="post">
    
        <select name="category">
            {% for category in categories %}
            <option value="{{category.id}}">{{category.title}}</option>
            {% endfor %}
        </select> 

    <button type="submit" class="btn btn-danger">
        Remove category
    </button>

    </form>
</div>
{% endblock content %}
    