{% extends "index-skeleton.html.twig" %}

{% block title %}
{{article.title}}
{% endblock title %}

{% block content %}
    <section id="article" class="container">
        <article class="d-flex flex-column">
            <h1 class="mx-auto">{{article.title}}</h1>
            <div class="d-flex row">
                <img class="mx-auto" src="{{imageURI}}/{{article.image}}">
                <div id="content_article">
                {{article.content | raw}}
                </div>
            </div>
            <div id="date_article" class="ml-auto">Ecrit le {{article.createdAt | date('d/m/Y')}} a {{article.createdAt | date('H:i')}}, categorie: {{ article.category.title}}</div>
            <div class="ml-auto">
            {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-secondary" href="{{ path("edit_article", {"id": article.id}) }}">edit article</a>
            <a class="btn btn-danger" href="{{ path("remove_article", {"id": article.id}) }}">remove article</a>
            {% endif %}
            </div>           
        </article>

        <section id="commentaire">
            <h1>{{ article.comments | length }} commentaire :</h1>
            <div class="d-flex flex-column">
            {% for comment in article.comments %} 
            <div id="user_comment" class="d-flex flex-column">         
                <div class="d-flex flex-column">
                    <div id="author_comment">
                        Ecrit par {{comment.author}} le {{comment.createdAt | date("d/m/Y a H:i")}}
                    </div>
                    <div id="body_comment" class="mx-auto">
                        {{comment.content | raw}}
                    </div>
                </div>
                <div class="ml-auto">
                {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-secondary" href="{{ path("edit_comment", {"id": comment.id}) }}">edit comment</a>
                <a class="btn btn-danger" href="{{ path("remove_comment", {"id": comment.id}) }}">remove comment</a>
                {% endif %}
                </div>
            </div>
            {% endfor %}
            </div>
            <div id="form_comment" class="mx-auto">
            

            {{ form_start(commentForm)}}

            {{ form_row(commentForm.author, {"attr": {"placeholder": "name"}}) }}
            {{ form_row(commentForm.email, {"attr": {"placeholder": "email"}}) }}
            {{ form_row(commentForm.content, {"attr": {"placeholder": "commentaire"}}) }}

            <button type="submit" class="btn btn-success">commenter</button>

            {{ form_end(commentForm)}}
            </div>
        </section>
    </section>
{% endblock content %}